03-T-Shirts - PosgreSQL.json
{
  "name": "03-T-Shirts - PosgreSQL",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ba701c4-df90-4b3b-9923-3ac28d435129",
              "leftValue": "={{ $json['Email Address'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f7885df2-57f5-43df-afef-a0d81613bd56",
              "leftValue": "={{ $json['Fecha de verificación'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        464
      ],
      "id": "011decb1-a84f-4451-8bf8-c9a4816711fb",
      "name": "Filtrar registros sin correo eletrónico"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nLeer y filtrar solicitudes",
        "height": 304,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        368
      ],
      "id": "10f1333b-cc04-4efa-9b54-e2dbfd0a44b6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "email-example@gmail.com",
        "subject": "Actualización de camisetas",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Actualización completada</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; background: #f7f7f7; padding: 20px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #fff; padding: 20px; border: 1px solid #ddd;\">\n      <tr>\n        <td>\n          <h2 style=\"color: #49129c; margin-top: 0;\">Actualización de camisetas completada</h2>\n          <p>Hola</p>\n          <p>El proceso de actualización de camisetas ha finalizado correctamente.</p>\n          <p>Fecha: <strong>{{$now.format('yyyy-MM-dd')}}</strong></p>\n          <p>Gracias por tu atención.</p>\n        </td>\n      </tr>\n    </table>\n\n\n\n<h1>Personas</h1>\n\n{{ $json['Email Address'] }}\n\n\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        208
      ],
      "id": "2f026928-4523-4ed2-93e6-90c156077e32",
      "name": "Send a message",
      "webhookId": "70fb81a3-1b02-4782-a312-38714628abe3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg",
          "mode": "list",
          "cachedResultName": "T-Shirt - Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54902949,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit#gid=54902949"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        464
      ],
      "id": "aca279c5-b5f9-4228-8bfd-33e57450d146",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Email Address"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        208
      ],
      "id": "d6c6913d-eea6-49a9-8e45-4ed57ab9d376",
      "name": "Agrupar flujos"
    },
    {
      "parameters": {
        "content": "## Unir ramas\nEnviar correo electrónico",
        "height": 240,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "44939d8e-a24e-44a0-b5ce-1698234c02a0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        464
      ],
      "id": "3e4996ba-58a5-445e-8d0b-94ed34ccbaa7",
      "name": "Barrer cada solicitud nueva"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from inventory where size = '{{ $json['Talla de la camiseta'].substring(0,4).replaceAll('-','') }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        480
      ],
      "id": "8c7b1577-3a76-4d35-a0fc-8c0773ba3922",
      "name": "Obtener inventario por talla",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c8bc0c1-480c-47f9-a143-3ec139db2d03",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1c09ed0a-3c98-420a-a36e-b71c235b8d3f",
              "leftValue": "={{ $json.in_stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        480
      ],
      "id": "0b5bbab1-a39b-49fa-b923-5331291b9ef9",
      "name": "¿Hay existencias?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "259c31c1-f032-47d1-aec3-2c76bcae30f8",
              "name": "in_stock",
              "value": "={{ ($json.in_stock - 1 > 0) ? $json.in_stock - 1 : 0  }}",
              "type": "number"
            },
            {
              "id": "490e2764-f613-41a1-8401-b97e3e732993",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "string"
            },
            {
              "id": "709a6698-c27b-4730-ac34-69899b5c5eac",
              "name": "product_name",
              "value": "={{ $json.product_name }}",
              "type": "string"
            },
            {
              "id": "db520ccc-b440-4f95-abc8-e72a5b90a8eb",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        464
      ],
      "id": "49ca8192-108b-438e-87f4-e416f723dc82",
      "name": "Restar inventario"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "inventory",
          "mode": "list",
          "cachedResultName": "inventory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "in_stock": "={{ $json.in_stock }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_stock",
              "displayName": "in_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        464
      ],
      "id": "f1be6dcb-7062-4d10-94da-b028e68a7b7c",
      "name": "Actualizar inventario"
    },
    {
      "parameters": {
        "content": "## Inventario\nVerificar existencias",
        "height": 352,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        384
      ],
      "typeVersion": 1,
      "id": "81414851-c136-4a3e-9110-29c66f34e115",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Inventario\nReducir inventario",
        "height": 352,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        384
      ],
      "typeVersion": 1,
      "id": "13f24c41-4fa4-469b-a051-4a328710914d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg",
          "mode": "list",
          "cachedResultName": "T-Shirt - Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54902949,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit#gid=54902949"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Filtrar registros sin correo eletrónico').item.json['Email Address'] }}",
            "Verificado": "={{ true }}",
            "Fecha de verificación": "={{ $now.format('yyyy-MM-dd HH:MM') }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla de la camiseta",
              "displayName": "Talla de la camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        464
      ],
      "id": "7bbc7e11-d3f4-4156-9742-4039c82a4af7",
      "name": "Actualizar respuestas"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg",
          "mode": "list",
          "cachedResultName": "T-Shirt - Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54902949,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pweNfcrEY2kmkCxCkbHHR74Z3UYFqGyZwai232CuZdg/edit#gid=54902949"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Filtrar registros sin correo eletrónico').item.json['Email Address'] }}",
            "Verificado": "={{ false }}",
            "Fecha de verificación": "={{ $now.format('yyyy-MM-dd HH:MM') }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Talla de la camiseta",
              "displayName": "Talla de la camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        688
      ],
      "id": "640fe3da-db0e-4ac8-9715-56c0b1b4fd4f",
      "name": "Actualizar respuestas sin inventario"
    }
  ],
  "pinData": {},
  "connections": {
    "Filtrar registros sin correo eletrónico": {
      "main": [
        [
          {
            "node": "Barrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filtrar registros sin correo eletrónico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar flujos": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Barrer cada solicitud nueva": {
      "main": [
        [
          {
            "node": "Agrupar flujos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener inventario por talla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener inventario por talla": {
      "main": [
        [
          {
            "node": "¿Hay existencias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay existencias?": {
      "main": [
        [
          {
            "node": "Restar inventario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar respuestas sin inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restar inventario": {
      "main": [
        [
          {
            "node": "Actualizar inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar inventario": {
      "main": [
        [
          {
            "node": "Actualizar respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar respuestas": {
      "main": [
        [
          {
            "node": "Barrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar respuestas sin inventario": {
      "main": [
        [
          {
            "node": "Barrer cada solicitud nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f8436d23-b9f5-4cb8-a05f-b9592eb5a6b9",
  "meta": {
    "instanceId": "915fa55c63bf3fc5782b4941312bb481268cb75daccb4f515df924553f308e78"
  },
  "id": "OYIo4mXdzasJGsx1",
  "tags": []
}